html{
    scroll-behavior: smooth;
}
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color :#2196f3
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px){
    .container{
        width: 566px;
    }
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    flex-basis: 50%;
    justify-content: right;
}
.header .container span{
    display: block;
    width: fit-content;
    height: fit-content;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
    flex-basis: 50%;
}
.header{
    box-shadow: 0px -61px 62px black;
    position: relative;
    z-index: 4;
}
.header .container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}
.header .container ul.main-tags{
    display: flex;
    height: 100%;
}
.header .container ul.main-tags li.main{
    padding: 20px 25px 24px;
    font-size: 19px;
    font-weight: 400;
    position: relative;
}
.header .container ul.main-tags li.main::before{
    transition: 0.3s;
    content: "";
    background-color: var(--main-color);
    height: 4px;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .container ul.main-tags li.main a{
    color: black;
    text-decoration: none;
}

.header .container ul.main-tags li:hover::before{
    width: 100%;
}
.header .container ul.main-tags li.main:hover{
    background-color:#efefef7c ;
}
.header .container ul.main-tags li.main a :hover{
    color: var(--main-color);
    
}
.landing{
    background-color: white;
    padding: 80px 0 150px;
    position: relative;
    overflow: hidden;
    height: 635px;
    z-index: 2;
}
.landing::before{
    transform-origin: left;
    content: "";
    height: 100%;
    width: 126%;
    top: 0;
    transform: rotate(-6deg);
    left: -34px;
    background-color: #ececec;
    position: absolute;
    z-index: 0;
}
.landing .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
@keyframes landing-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}
.landing img{
    height: 360px;
    animation-name: landing-animation;
    animation-duration:1.5s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
}
.landing .container .text h3{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.landing .container .text p{
    line-height: 1.5;
    color: #666;
    width: 95%;
    font-size: 25px;
}
.push{
    text-align: center;
    position: relative;
    overflow: visible;
    z-index: 3;
    animation-name: push-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}
.push i{
    font-size: 30px;
    color: var(--main-color);
}
@keyframes push-animation{
    0%{
        transform: translateY(0px);
    }
    55%{
        transform: translateY(-10px);
        
    }
    70%{
        transform: translateY(0px);
        
    }
    85%{
        transform: translateY(-10px);

    }
    100%{
        transform: translateY(0);
    }
}
@media (max-width:991px){
    .landing .container img{
        display: none;
    }
    .landing .container .text p{
        width: 100%;
        font-size: 18px;
    }
    .landing .container .text{
        text-align: center;
    }
    .landing .container .text h3 {
        font-size: 30px;
    }
    .landing .container{
        flex-direction: column;
        /* justify-content: center; */
        height: 100%;
    }
    .header .container{
        flex-direction: column;
    }
    .header .container span{
        padding: 6px 0 10px;
    }
    .header .container ul.main-tags li.main a{
        font-size: 14px;
    }
    .header .container ul.main-tags li.main{
        padding: 16px 12px 12px;
    }
    .landing{
        height: 615px;
    }
}
.header .mega-nav {
    position: absolute;
    top: 0;
    z-index: 4;
    background: white;
    left: 0%;
    transform: translateX(-50%);
}


.header .container li:last-of-type:hover + div{
    display:grid;
    animation-name:menu-float ;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
}
.header .container li:last-of-type + div:hover{
    display: grid;
}
@keyframes menu-float{
    0%{
        opacity: 0;
        top: calc(100% + 35px);

    }
    100%{
        opacity: 1;
        top: 100%;
    }
}

.header .menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    background: white;
    padding: 20px;
    border-top: 1px solid #e4e2e2;
    border-bottom: 4px solid var(--main-color);
    display: none;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap:40px;
    width: 100%;

}


.header .menu img{
    width: 525px;
}

.header .menu ul li{
    border-bottom: 1px solid #e4e2e2;
    padding: 17px 0;

}
.header .menu ul li.no-border{
    border: none;
}
.header .menu ul li a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.header .menu ul li i {
    margin-right: 15px;
    color: var(--main-color);
}
@media (max-width:786px){
    .header .menu img{
        display: none;
    }
    .header .menu{
    grid-template-columns: 1fr;

    }
}
@media (max-width:991px) and (min-width:786px) {
    .header .menu img{
        display: none;
    }
    .header .menu{
        grid-template-columns: 1fr 1fr;
    }
    .header .container .main-tags .menu ul li a{
        font-size: 18px;
    }
}
@media (max-width:1200px){
    .header .menu img{
       width: 425px; 
    }
/* the seprator space and its animation (START) */
}
.Seprator{
    margin: 85px 0;
    text-align: center;
}
.Seprator h3{
    position: relative;
    width: fit-content;
    border: 2px solid;
    text-transform: uppercase;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

}
.Seprator h3::before{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--main-color);
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);

    z-index: -1;
}
.Seprator h3::after{
    z-index: -1;
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--main-color);
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);

}


.Seprator h3:hover::before{
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 0;
    transition-property: left,height,width,border-radius;
    transition-timing-function: ease-in-out;
    transition-delay: 0s,0.2s,0.2s,0.2s;
    transition-duration: 0.3s,0.3s,0.3s,0.3s;
}
.Seprator h3:hover::after{
    right: 0;
    height: 100%;
    width: 50%;
    border:0;
    border-radius: 0;
    transition-property: right,height,width,border-radius,color,background-color,border-color;
    transition-delay: 0s,0.2s,0.2s,0.2s,0.4s,0.4s,0.4s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s,0.3s,0.3s,0.3s,0.2s,0.2s,0.2s;
}
.Seprator h3:hover{
    color: white;
    background-color: var(--main-color);
    border-color:var(--main-color) ;
    transition-property: color,background-color,border-color;
    transition-delay: 0.4s,0.4s,0.4s;
    transition-duration:0.2s,0.2s,0.2s;
    transition-timing-function: ease-in-out;
}

/* the seprator space and its animation (END) */
.article .info{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}
.article .info .card img{
    width: 100%;
    /* height: 250px; */
}
.article .info .card{

}
.article .info .card h4{

}
.article .info .card h4 p{

}
.article .info .card h4 .button{

}
.article .info .card h4 .button button{

}
.article .info .card h4 .button i{

}
